$colorBg: #E5E4B4;
$colorBgDarker: #D1D0A4;

$colorIconText: #E3956C ;
$colorIconDartText: #E36844;
$colorIconDartTextBorder: #CF5F3E;
$colorDarkText: #4F2B3B;
$colorDark: rgb(45, 26, 34);
$colorAccent: #DF6571;

$invertedColorBtn: #999999;
$colorWhite: #FFFFFF;

$colorDarkGreen: #1E441E