body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.profile-form{
  display: block;
  width: 100%;
  flex: 1 auto;
}
.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.desc{
  margin-bottom: 30px;
}
.shadow{
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
}
.shadow.show{
  display: block;
}
.shadow.hide{
  display: none;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.game-field{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.board-row{
  font-size: 0;
  display: flex;
  margin: 0;
  flex: 0 auto;
}
.desc{
  width: 99px;
  position: relative;
}

.game-info {
  margin-left: 20px;
}
